<STYLE>
SELECT
{
    border: 1px solid;
    font-family: verdana, arial, sans-serif;
    font-size: 12px
}
TEXTAREA
{
    border: 1px solid;
    font-family: monospace;
    font-size: 12px
}
INPUT
{
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}
TABLE
{
    font-size: 14px;
    border: 0px solid;
    border-color: gray;
    font-family: verdana, arial, sans-serif;
    margin-left:auto;
    margin-right:auto;
}

TH { text-align: center; }
TH.left { text-align: left; }
TH.right { text-align: right; }
TH.a { background-color:#c0c0c0; }

TR { text-align: left; }
TR.a { background-color:#c0c0c0; }

TABLE.report { border:1px solid; color:#000000; background-color:#e0e0e0; }
TABLE.report TR.report { color:#000000; background-color:#d0d0d0; }
TABLE.report TR.report { color:#000000; background-color:#d0d0d0; }

TH.f0 { background-color:#c0c0c0; }
TH.f1 { background-color:#90b0d0; }
TH.f2 { background-color:#c0a0a0; }
TH.f3 { background-color:#c0d0c0; }

TD.f0 { background-color:#c0c0c0; }
TD.f1 { background-color:#90b0d0; }
TD.f2 { background-color:#c0a0a0; }
TD.f3 { background-color:#c0d0c0; }

TR.f0 { background-color:#c0c0c0; }
TR.f1 { background-color:#90b0d0; }
TR.f2 { background-color:#c0a0a0; }
TR.f3 { background-color:#c0d0c0; }

TH.b { background-color:#e0e0e0; }
TR.b { background-color:#e0e0e0; }
TD.b { background-color:#e0e0e0; }

TD.a { background-color:#c0c0c0; }
TD.c { text-align: center; }

TD.res { background-color:#FFB0B0; color:#000000; }
TD.con { background-color:lightgreen; color:#000000; }


.red   { color:red }
.blue  { color:blue }
.dblue  { color:blue }
.green { color:green }
.black { color:black }
.norm { color:#000000 }

.incoming { background-color:#FFB0B0; color:black;}
.outgoing { background-color:#CFDFEF; color:black;}

.uni { background-color:#CFD0FE; }
.gc { color:#00A0C0; font-weight:bold; }
.moc { color:#BFBF00; font-weight:bold; }
.self { color:#20C030; font-weight:bold; }
.bold  { font-weight:bold }

.medium { font-size:12pt }
.big   { font-size:14pt }
.small { font-size:9pt; font-family: verdana, arial, sans-serif; }
.tiny { font-size:8pt; font-family: verdana, arial, sans-serif; }
.cent { text-align: center; }

<!-- Ab hier neue styles -->

.hidden {
  visibility:hidden;
}

BODY.a {
 background-color:#FFFFFF;  
 color:#000000; 
 margin: 0px;
 padding: 0px;
}

div.nav {
  padding-top: 5px;
  padding-left: 5px;
  position: fixed;
  float: left;
  width: 125px;
  height: 100%;
  z-index: 2;
  background-color: #C0C0C0;
}

div.head {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  position: fixed;
  left: 130px;
  text-align: center;
  height: 65px;
  z-index: 2;
  background-color: white;
}

div.cont {
  position: absolute;
  top: 85px;
  left: 130px;
  height: auto;
  text-align: center;
  z-index: 1;
}

div.head a {
 display: block; 
 text-decoration: none;
}
div.head a:visited, a:link { color: black; }

div.nav a {
 display: block; 
 text-decoration: none;
 width:100%;
}
div.nav a:visited, a:link { color: black; }

table.top
{
  font-size: 10pt;
  font-family: verdana, arial, sans-serif;
  width: 670px;
  border: 0px solid gray;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: white;
  empty-cells: show;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

table.top tr
{
  border: 0px solid lightgrey;
  padding: 0px;
  text-align: left;
}

table.top td
{
  background-color: #efefef;
  border: 1px solid black;
  padding: 1px;
}

table.top td.ho {
  text-align: center;
  width: 119px;
  background-color: #FFB0B0;
}
table.top td.fi {
  text-align: center;
  width: 119px;
  background-color: lightgreen;
}
table.top td.mcent {
  text-align: center;
  width: 179px;
}
table.top td.rcent {
  text-align: center;
  width: 129px;
}

table.top div.score {
 padding-left: 10px;
 font-size:12pt;
 float:left;
 text-align:left;
}
table.top div.name {
 padding-right: 10px;
 font-size:12pt;
 float:right;
 text-align:right;
}
table.top div.rnam
{
  padding-left: 10px;
  text-align:left;
  float:left; 
  width:45px
}
table.top div.rval
{
  padding-right: 8px;
  text-align:right;
  float:left; 
  width: 95px;
}

table.nav 
{
  font-size: 10pt;
  font-family: verdana, arial, sans-serif;
  width: 120px;
  border: 0px solid gray;
  table-layout: fixed;
  border-collapse: separate;
  background-color: #C0C0C0;
  empty-cells: hide;
}

table.nav tr
{
  border: 0px solid lightgrey;
  padding: 0px;
  text-align: left;
}

table.nav td {
  font-size: 10pt;
  font-family: verdana, arial, sans-serif;
  font-weight:bold; 
  background-color: #b8b8c8;
  text-align: left;
  padding: 1px;
  text-indent: 5px;

  border-width: 1px;
  border-style: solid;
  border-top-color: #d8d8e8;
  border-left-color: #d8d8e8;
  border-right-color: #8888a8;
  border-bottom-color: #8888a8;
}

table.nav td.cent {
  font-size: 8pt;
  font-weight: normal;
  text-indent: 0px;
  text-align: center;
  border-top-color: #8888a8;
  border-left-color: #8888a8;
  border-right-color: #d8d8e8;
  border-bottom-color: #d8d8e8;
}

table.nav td.gi {
  text-align: left;
  background-color: #FFE0A0;
}

table.nav td.gi a:hover { 
 background-color: #FFD0A0; 
}

table.nav a:hover {
 background-color: #ffffff;
}

table.nav td.lb {
  background-color: lightblue;
}

table.nav td.lb a:hover { 
 background-color: #E0E0FF; 
}


</style>
