body 		{font-size:8pt;background-color:#000000;layer-background-color:#00000;color:#999999}
table 		{background-color:#000000;layer-background-color:#000000;border-width:0px;}
.maintable	{width:700px;}
.logtable	{width:700px;}
.header		{width:700px;}
.border		{width:700px;background-color:#660000;layer-background-color:#660000;}

p.normal    {font-size:9pt;font-weight:normal}

td
{
	background-color:#212121;layer-background-color:#212121;
	color:#FFFFFF;
	font-family:tahoma,arial,helvetica,geneva;
	font-size:8pt;
	text-align:center;
	padding:0px;
	margin:0px;
}
.headtext
{
	font-size:8pt;
	font-family:arial,verdana,geneva;
	text-align:left;
	padding:4px;
}
.newsbit
{
	font-size:8pt;
	font-family:arial,verdana,geneva;
	text-align:left;
}
.top
{
	font-size:12pt;font-weight:600;
	font-family:arial,verdana,geneva;
	text-align:center;
	padding:10px;
	color:#FFFFFF;
	background-color:#212121;layer-background-color:#212121;
}
.toplog
{
	font-size:12pt;font-weight:600;
	font-family:arial,verdana,geneva;
	text-align:center;
	padding:10px;
	color:#FFFFFF;
	background-color:#400000;layer-background-color:#400000;
}
.friendly	{color:#00FF00;font-weight:600;background-color:#400000;layer-background-color:#400000;height:25px;}
.hostile	{color:#FF0000;font-weight:600;background-color:#400000;layer-background-color:#400000;height:25px;}
.inputcel	{width:7%;padding:0px;color:#FFFFFF;background-color:#121212;layer-background-color:#121212;}
.lostcel	{width:14%;padding:0px;}
.stunnedcel	{width:14%;padding:0px;color:#bluecolor:#FF0000;background-color:#121212;layer-background-color:#121212;}
.infocel	{width:50%;padding:2px;text-align:left;padding-left:15px;}
.valuecel	{width:50%;padding:0px;}
.warningcel	{color:#FF0000;font-weight:600;background-color:#303030;layer-background-color:#303030;padding:4px;}
.bottom		{font-size:9pt;font-weight:600;text-align:center;padding:5px;}
.bottom2	{font-size:9pt;padding:5px;}

th
{
	background-color:#303030;layer-background-color:#303030;
	color:white;
	font-family:tahoma,arial,helvetica;
	font-size:8pt;
	font-weight:600;
	text-align:center;
}
.lostcel		{color:red}
.stunnedheader 	{color:white}
.amountheader 	{color:white}
.stunnedcel		{color:blue}
.stunnedheader 	{color:white}
.wrapper {color:#000000;background-color:#000000;layer-background-color:#000000;}
.wrapperborder {color:#000000;background-color:#000000;layer-background-color:#000000;padding:2px;}

A {text-decoration:none}
A:link    { color: #999999 }
A:visited { color: #999999 }
A:hover   { color: #FFFFFF }
A:active  { color: #999999 }

A.help {text-decoration:underline}
A.help:link    { color: #999999 }
A.help:visited { color: #999999 }
A.help:hover   { color: #FFFFFF }
A.help:active  { color: #999999 }


select, input { font-size:8pt;background:#222222;color:#FFFFFF;border: 1 solid #666666;}
input.checkbox { background:#212121;border: 0;}
textarea 	{ background:#222222;color:#FFFFFF;border: 1 solid #666666; }

input.text 	{ width:auto;}

span.subscript {font-size:7pt;color:gray}
span.counter {font-size:7pt;color:#999999}
span.disclaimer {font-size:7pt;color:#999999;}
span.losttext {color:red;}
span.estimate {font-size:7pt;font-weight:normal;}

span.defender 	{color:#00C000;font-weight:bold;}
span.attacker 	{color:#FF0000;font-weight:bold;}
span.title 		{font-size:10pt;font-weight:bold;text-decoration:underline;}
