body 		{font-size:8pt;background-color:#000000;layer-background-color:#000000;color:#FFE185;}
table 		{background-color:#FFE185;layer-background-color:#FFE185;}
.maintable	{width:700px;}
.logtable	{width:700px;}
.header		{width:700px;}
.border		{background-color:#000000;layer-background-color:#000000;

p.normal    {font-size:9pt;font-weight:normal}

td
{
	background-color:#B3380D;layer-background-color:#B3380D;
	color:#FFE185;
	font-family:tahoma,arial,helvetica,geneva;
	font-size:8pt;
	text-align:center;
	padding:0px;
	margin:0px;
}
.headtext
{
	font-size:8pt;
	font-family:arial,verdana,geneva;
	text-align:left;
	padding:4px;
}
.newsbit
{
	font-size:8pt;
	font-family:arial,verdana,geneva;
	text-align:left;
}
.top, .toplog
{
	font-size:12pt;font-weight:600;
	font-family:arial,verdana,geneva;
	text-align:center;
	padding:10px;
	color:#FFE185;
	background-color:#882602;layer-background-color:#882602;
}
.friendly	{color:#00FF00;font-weight:600;background-color:#A7330B;layer-background-color:#A7330B;height:25px;}
.hostile	{color:#FF0000;font-weight:600;background-color:#A7330B;layer-background-color:#A7330B;height:25px;}
.namecel	{width:15%;padding:0px;}
.inputcel	{width:7%;padding:0px;}
.lostcel	{width:14%;padding:0px;}
.stunnedcel	{width:14%;padding:0px;color:#FFE185}
.infocel	{width:50%;padding:2px;text-align:left;padding-left:15px;}
.valuecel	{width:50%;padding:0px;}
.warningcel	{color:#FF9B43;font-weight:600;padding:4px;}
.bottom		{font-size:9pt;font-weight:600;text-align:center;padding:5px;}
.bottom2	{font-size:9pt;padding:5px;}

th
{
	background-color:#882602;layer-background-color:#882602;
	color:#FFE185;
	font-family:tahoma,arial,helvetica;
	font-size:8pt;
	font-weight:600;
	text-align:center;
}
.wrapper {color:#000000;background-color:#000000;layer-background-color:#000000;}

A 			{text-decoration:none}
A:link    	{ color: #FFE185 }
A:visited 	{ color: #FFE185 }
A:hover   	{ color: red }
A:active  	{ color: #FFE185 }

A.help 			{text-decoration:underline}
A.help:link    	{ color: #FFF1A7 }
A.help:visited 	{ color: #FFF1A7 }
A.help:hover   	{ color: red }
A.help:active  	{ color: #FFF1A7 }


input			{ font-size:8pt; }
input.text 		{ width:auto; }

span.subscript 	{font-size:7pt;color:#E08A2F}
span.counter 	{font-size:7pt;color:#E08A2F}
span.disclaimer {font-size:7pt;color:#E08A2F;}
span.losttext 	{color:red;}
span.estimate 	{font-size:7pt;font-weight:normal;}

span.defender 	{color:#00FF00;font-weight:bold;}
span.attacker 	{color:#FF0000;font-weight:bold;}
span.title 		{font-size:10pt;font-weight:bold;text-decoration:underline;}
